<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style='color:#ffa31a; font-family:Ubuntu;' align='center'>SkillEx</h1>
    <div align='center'>
      <p>Your <%= @lesson.skill.title =%> lesson was completed!
      <p>If you haven't already, please rate your  <a href="https://skillex.herokuapp.com">experience</a> !</p>
    </div>
    
    <h2 style='color:#209FE3; font-family:Ubuntu;' align='center'>Party On Wayne! Party on Garth!</h2><br><br>  

    <p align="center"> - Team SkillEx</p>
  </body>
</html>