
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 align='center'>SkillEx</h1>
    <p>Your <%= @lesson.skill.title =%> lesson is confirmed at <%= @lesson.start_time =%>!</p>
    <p>If you want check on your lesson, <a href="https://skillex.herokuapp.com">click here</a> !</p>
  </body>
</html>