                              SkillEx



                              
    Your <%= @lesson.skill.title =%> lesson is confirmed at <%= @lesson.start_time =%>!
    If you want check on your lesson, <a href=<%= lesson_path(@lesson) %>>click here</a> !