<head><link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>


<body style="background-color: #6396e8;">

<h1 style="color: #ffa31a; font-family:Ubuntu;" align="center">New Skill</h1>

<div align="center"><%= render 'form', skill: @skill %></div><br />

<div align="center"><%= link_to 'Back', skills_path %></div>


</body>