<head><link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>
<h1 class="text-center" style="color:#ffa31a; font-family:Ubuntu;">Editing Lesson</h1>

<%= render 'edit_form', lesson: @lesson %>
<div class="text-center">
<%= link_to 'View', @lesson, {style: "color: #6396e8"} %> |
<%= link_to 'Back', lessons_path, {style: "color: #6396e8"} %>
</div>  