<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
    <h1 style='color:#ffa31a; font-family:Ubuntu;' align='center'>SkillEx</h1>
    <div align='center'>
      <p>Your <%= @lesson.skill.title =%> lesson is confirmed at <%= @lesson.start_time =%>!</p>
      <p>If you want check on your lesson, <a href="https://skillex.herokuapp.com">click here</a> !</p>
    </div>
    
    <h2 style='color:#209FE3; font-family:Ubuntu;' align='center'>Party On Wayne! Party on Garth!</h2>
  </body>
</html>